future; python_version <= '2.7'
nose>=1.3.7
numpy==1.16.5
pandas==0.24.2; python_version <= '2.7'
pandas
pillow>=8.1.1; python_version >= '3.6'
pillow
pysam==0.16.0.1
python-dateutil==2.8.1
scikit-learn>=0.20.0; python_version <= '2.7'
scikit-learn
scipy>=1.1.0; python_version <= '2.7'
scipy
six==1.11.0
sklearn==0.0; python_version <= '2.7'
sklearn
torch==1.4.0
torchvision==0.5.0